<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html">
    <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" media="all">
    {% block head %}{% endblock %}
    <title>Django example</title>
</head>

<body>
    <div id="container">
        <div id="header">
            <h1>Django<span> example</span></h1>
        </div>
        {% include "navigation.html" %}
        <div id="content-wrapper">
            <div id="content">
                {% block content %}{% endblock %}
            </div>
        </div>
        <div id="footer">by <a href="mailto:s1iderorama@gmail.com">Denis Zvezdov</a>. ©2011</div>
</div>
</body>
</html>