<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html">	
	<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" media="all">
	{% if request.path == '/maps/' or request.path == '/maps/search/' %}
		<script src="http://api-maps.yandex.ru/1.1/index.xml?key=ALkUyk4BAAAApRinSwIAS_pBYGgk9hlNbOWvjOx3Zi8VGBIAAAAAAAAAAADG1QihAV-jqGTltsWsd3ylJFXKPw=="
		type="text/javascript"></script>
	    <script type="text/javascript">
	        window.onload = function () {
	            var map = new YMaps.Map(document.getElementById("YMapsID"));
	            map.setCenter(new YMaps.GeoPoint(30.52, 50.45), 10);
	        }
	    </script>
	{% endif %}    
	<title>Django example</title>
</head>

<body>
	<div id="container">
		<div id="header">
			<h1>Django<span> example</span></h1>
		</div>
		<div id="navigation">
			<ul>
				<li{% if request.path == '/' %} class="current_page_item"{% endif %}><a href="{% url home %}">Home</a></li>
				<li{% if request.path == '/maps/' or request.path == '/maps/search/' %} class="current_page_item"{% endif %}><a href="{% url maps %}">Maps</a></li>
				<li{% if request.path == '/about/' %} class="current_page_item"{% endif %}><a href="{% url about %}">About</a></li>
   			</ul>
		</div>
		<div id="content-wrapper">
			<div id="content">
				{% block content %}{% endblock %}
			</div>
		</div>
		<div id="footer">by <a href="mailto:s1iderorama@gmail.com">Denis Zvezdov</a>. ©2011</div>
</div>
</body>
</html>