{% extends 'base.html' %}

{% block head %}
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}/flot/jquery.js"></script>
    <script language="javascript" type="text/javascript" src="{{ STATIC_URL }}/flot/jquery.flot.js"></script>
{% endblock %}

{% block content %}

    Here will be Dasha's charts.

    <table>
        <tr>
            <td>Объект</td><td>Осталось квартир</td>
        </tr>
        {% for object in objects %}
        <tr>
            <td>{{ object.object_name }}</td>
            <td>{{ object.flats_count }}</td>
        </tr>
        {% endfor %}
    </table>

    <div id="chart"></div>
    <script type="text/javascript">
    $(function () {
        var data = [];
        data = [
            {
                label: "Foo",
                data: [ [10, 1], [17, -14], [30, 5] ],
                bars: { show : true}
            },
            {
                 label: "Bar",
                 data: [ [11, 13], [19, 11], [30, -7] ]
            }
        ];

{#        var data_objects = JSON.parse('{{ objects|escapejs }}');#}
        $.plot($("#chart"), data);
    }); </script>

{% endblock %}