{% extends "base.html" %}

{% block head %}
    <script src="http://api-maps.yandex.ru/1.1/index.xml?key={{ API_KEY }}"
            type="text/javascript"></script>
    <script type="text/javascript">
        window.onload = function () {
            var map = new YMaps.Map(document.getElementById("YMapsID"));
            map.setCenter(new YMaps.GeoPoint(30.52, 50.45), 10); // Центр на Киев по умолчанию

            map.addControl(new YMaps.TypeControl());
            map.enableScrollZoom();

            var points = JSON.parse('{{ points }}');
            if (points) {
                for (var i=0; i<points.length; i++) {
                    var point = points[i];
                    map.setCenter(new YMaps.GeoPoint(point[0], point[1]), 15);
                    var placemark = new YMaps.Placemark(new YMaps.GeoPoint(point[0], point[1]), {hasBalloon:false});
                    placemark.setIconContent('{{ search_text }}');
                    map.addOverlay(placemark);
                }
            }
        }
    </script>
{% endblock %}

{% block content %}
    <div class="fieldset">
    <form action="." method="post">
        {% csrf_token %}
        Search:<input type="text" name="search" class="search" />
        <input type="submit" value="search" />
    </form>
    </div>

    {% if search_text %} <h5> Результаты поиска '{{ search_text }}'. </h5> {% endif %}
    <div id="YMapsID"></div>
{% endblock %}

{% block js %}
    <script type="text/javascript">
        
    </script>
{% endblock %}